Flask==0.10.1
Flask_SocketIO
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
python-engineio
python-socketio
six==1.9.0
Werkzeug==0.14.1
python-dateutil

flask-sockets

flask_cors
pymongo==2.4.2

mysql-connector

paho-mqtt