setuptools==45.0.0
Flask==0.10.1
Flask_SocketIO==3.0.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
python-engineio==3.14.2
python-socketio==4.6.1
six==1.9.0
Werkzeug==0.14.1
python-dateutil

flask-sockets

flask_cors
pymongo==2.4.2

mysql-connector

paho-mqtt