<div ng-init="init()" style="height: 100%;">
  <div layout-fill ng-if="navstyle===0 && menuReady===true" style="height:100%; width:100%;">
    <md-sidenav class="raspi-sidenav" id="sidenav1" md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      style="overflow-y:auto;">
      <md-content class="animate-changes">
        <div ng-repeat="sectionLvl1 in menuList">
          <md-button class="main-menu-btn md-raised md-primary" ng-click="changeUrlTo(sectionLvl1);">
            <div layout-align="space-around center" layout="row">
              <i class="margin-right {[sectionLvl1.icon]}"></i>
              <div flex>{[sectionLvl1.name]}</div>
              <i class="fa" ng-class="{'fa-angle-right':sectionLvl1.isOpen, 'fa-angle-down':!sectionLvl1.isOpen}"
                ng-if="!sectionLvl1.url"></i>
            </div>
          </md-button>
          <div ng-if="sectionLvl1.isOpen" ng-repeat="sectionLvl2 in sectionLvl1.subSections"
            style="width:100%">
            <md-button class="main-menu-btn diamon-blue" ng-class="{'selected' : isSelected(sectionLvl2.url)}"
              ng-click="changeUrlTo(sectionLvl2);" staging>
              <div class="raspi-grey" flex id="{[sectionLvl2.uid]}" layout-align="space-around center"
                layout="row">
                <i class="margin-right fa {[sectionLvl2.icon]}"></i>
                <div flex>{[sectionLvl2.name]}</div>
              </div>
            </md-button>
          </div>
        </div>
      </md-content>
    </md-sidenav>
  </div>

  <div ng-if="navstyle===1">
    <div layout="column">
      <md-tabs class="md-primary" id="tab-lvl1" md-autoselect="false" md-border-bottom
        md-center-tabs="false" md-dynamic-height md-selected="tabSelection.lvl1">
        <md-tab ng-repeat="section in menuList">
          <md-tab-label >{[section.name]}
            <i class="{[section.icon]}"></i>
          </md-tab-label>
        </md-tab>
      </md-tabs>
      <div
        ng-if="!menuList[tabSelection.lvl1].url && menuList[tabSelection.lvl1].hasOwnProperty('subSections')">
        <md-tabs class="md-accent" id="tab-lvl2" md-autoselect="false" md-border-bottom
          md-center-tabs="false" md-dynmic-height md-selected="tabSelection.lvl2">
          <md-tab ng-repeat="subSection in menuList[tabSelection.lvl1].subSections">
            <md-tab-label>{[subSection.name]}
              <i class="{[subSection.icon]}"></i>
            </md-tab-label>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</div>
