.raspi-button {
  border-radius: 5px;
  box-sizing: border-box;
  color: currentColor;
  /*color:#BBDEFB;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: transparent;
  white-space: nowrap;
  min-width: 284px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  width: auto;
  border: 1px solid lightgrey;
  /*transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
*/
}
.raspi-button-small-size {
  min-width: 88px;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
}
.raspi-button-small {
  border-radius: 5px;
  box-sizing: border-box;
  color: currentColor;
  /*color:#BBDEFB;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: transparent;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  width: auto;
  border: 1px solid lightgrey;
}
.raspi-text-color {
  color: black;
}
.raspi-button-holder {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}
.raspi-input-container-m {
  width: 500px;
}
.raspi-widget-holder-s {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}
.raspi-widget-holder-m {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 600px;
}
.raspi-icon-button {
  border-radius: 5px;
  box-sizing: border-box;
  color: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: transparent;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  width: auto;
  /*transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
*/
}
.raspi-white {
  color: white !important;
}
.raspi-uppercase {
  text-transform: uppercase;
}
.raspi-button:hover {
  background: #BBDEFB;
  /*color: grey;*/
  /*font-weight: bold;*/
  font-size: 14px;
}
.raspi-button-small:hover {
  background: #BBDEFB;
  /*color: grey;*/
  /*font-weight: bold;*/
  font-size: 14px;
}
.raspi-icon-button:hover {
  background: #37474F;
  color: white;
}
.raspi-font-m {
  font-size: 20px;
}
.grid {
  width: auto;
  height: auto;
}

.center-element-1 {
  border: none;
  /*text-align: center;*/
  background: transparent;
  position: fixed;
  /*top: 50%;*/
  left: 50%;
  /*  margin-top: -180px;*/
  /*margin-left: -227.5px;*/
  padding: 0;
  max-width: 400px;
}
.center-element {
  border: none;
  /*text-align: center;*/
  background: transparent;
  margin: 0 auto;
  width: auto;
  max-width: 400px;
}
.raspi-page {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
}
.layout-fill {
  /*min-height: calc(100vh - 96px);*/
  min-height: calc(100vh - 100px);
}
.raspi-frame {
  /*text-shadow: 10px;*/
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px;
}
.raspi-frame-light {
  border-radius: 5px;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px;
  padding-bottom: 5px;
}
.raspi-padding {
  /*margin: 5px;*/
  padding: 0px 10px 10px 10px;
}
.raspi-margin {
  margin: 10px 10px 10px 10px;
}
.raspi-directive-border {
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  margin: 10px;
}
.raspi-directive-content {
  border-radius: 5px;
  margin-left: 15px;
  padding: 5px;
}

/*.raspi-bg {
  background: #90CAF9;
}*/

.raspi-value-display {
  font-size: 32px;
  text-align: center;
}
.raspi-title {
  font-size: 40px;
  margin: 20px 0 0 0;
  color: grey;
}
.raspi-h4 {
  font-size: 20px;
  margin: 20px 0 10px 0;
  color: #37474F;
}
.raspi-widget-size-4 {
  font-size: 20px;
  color: #37474F;
}
.raspi-label-m {
  font-size: 20px;
  margin: 10px 0 5px 0;
  color: #263238;
}
.raspi-label-s {
  font-size: 16px;
  /*margin: 10px 0 5px 0;*/
  color: #263238;
}
.raspi-tooltip {
  font-size: 15px;
  margin: 10px 0 10px 0;
}


.raspi-slider {
  min-height: 150px;
  margin: 10px 10px;
}
.raspi-subtitle {
  font-size: 25px;
  text-align: center;
}
.raspi-numeric-input-s {
  border-radius: 5px;
  text-align: start;
  /*height: 48px;*/
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 150px;
  font-size: 16px;
  /*max-width: 200px;*/
}
.raspi-numeric-input-m {
  border-radius: 5px;
  text-align: start;
  /*height: 48px;*/
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 300px;
  font-size: 16px;
  /*max-width: 200px;*/
}
.raspi-slider-m {
  /*text-align: start;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;*/
  width: 300px;
  font-size: 16px;
  /*max-width: 200px;*/
}
.raspi-slider-m-pad {
  /*text-align: start;*/
  margin-top: 15px;
  width: 300px;
  font-size: 16px;
  /*max-width: 200px;*/
}
.raspi-font-size-button {
  font-size: 25px;
}
.raspi-led {
  color: #4A7EA6;
}
.no-scroll {
  overflow-y: hidden;
}
.img-holder {
  position: relative;
}
.img-holder .img-toolbar {
  display: block;
  padding: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  /*background-color: #f6f6f6;*/
  opacity: 20%;
}

/*md-tab {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
  float: left;
  font-weight: 500;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active, md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}
md-tabs.md-accent>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active, md-tabs.md-accent>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused {
  color: rgb(255, 255, 255);
  font-weight: bold;
}*/

.isResizable {
  background: rgba(255, 0, 0, 0.2);
  font-size: 2em;
  border: 1px solid black;
  overflow: hidden;
  resize: both;
  width: 320px;
  height: 240px;
  min-width: 160px;
  min-height: 120px;
}
.error-msg {
  color: brown;
}
.margin-right {
  margin-right: 5px;
}
.no-padding {
  padding: 0px;
  margin: 0px;
}
.animate-changes {
  -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.full-width{
  width: 100%;
}

md-tabs {
  background-color: #EBF7EB;
}
md-slider {
  height: 36px;
}
.fullscreen {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
iframe:focus {
  outline: none;
}
iframe[seamless] {
  display: block;
}
table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

/*table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/

.input-container {
  padding-bottom: 0px;
}

/*CUSTOM RZ SLIDER*/

rzslider .rz-bar {
  background: gray;
  height: 5px;
}
rzslider .rz-selection {
  background: orange;
}
rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: gray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
rzslider .rz-pointer:after {
  display: none;
}
rzslider .rz-bubble {
  bottom: 14px;
}
rzslider .rz-limit {
  font-weight: bold;
  color: orange;
}
rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}
rzslider .rz-tick.rz-selected {
  background: orange;
}
